<div class="flex items-center justify-center min-h-screen bg-gray-100">
    <div class="p-4 rounded-lg border shadow-md sm:p-8">
        <div class="flex flex-col items-center">
            <!-- Error Icon -->
            <svg xmlns="http://www.w3.org/2000/svg" class="w-16 h-16 text-indigo-600" fill="none" viewBox="0 0 24 24"
                stroke="currentColor" stroke-width="2">
                <path stroke-linecap="round" stroke-linejoin="round"
                    d="M12 8v4m0 4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
            </svg>
            <!-- Status Code -->
            <p class="mt-2 text-3xl font-semibold text-gray-900" id="error-status-code">{{ status_code }}</p>
            <!-- Error Message -->
            <p class="text-base font-normal text-gray-600" id="error-status-text">{{ status_code }}</p>
            <!-- Explanation or Additional Details -->
            <p class="mt-2 text-sm text-gray-600">
                {{ status_text }}
            </p>
            <!-- Go Back or Home Button -->
            <a href="/"
                class="mt-6 text-white bg-indigo-600 hover:bg-indigo-700 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 text-centerI">
                Go to Homepage
            </a>
        </div>
    </div>
</div>