{% import "components/feature-card.html" as macros %}

<div class="min-h-[calc(100vh-60px)] pb-32">
    <div class="relative isolate px-6 pt-14 lg:px-8">
        <div class="absolute inset-x-0 -top-40 -z-10 transform-gpu overflow-hidden blur-3xl sm:-top-80"
            aria-hidden="true">
            <div class="relative left-[calc(50%-11rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 rotate-[30deg] bg-gradient-to-tr from-[#ff80b5] to-[#9089fc] opacity-30 sm:left-[calc(50%-30rem)] sm:w-[72.1875rem]"
                style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)">
            </div>
        </div>
        <div class="mx-auto max-w-2xl pt-8 pb-16 ">
            <div class="text-center">
                <h1 class="text-4xl font-bold tracking-tight text-gray-900 sm:text-6xl">
                    RustGPT: ChatGPT Clone in Rust

                </h1>
                <p class="mt-6 text-lg leading-8 text-gray-600">
                    Simply Rust with Axum + SQLite rendering HTML templates. Tailwind for style and HTMX for
                    interactivity.
                    No JS framework.
                </p>
                <div class="mt-10 flex items-center justify-center gap-x-6">
                    <a href="/login"
                        class="rounded-md bg-indigo-600 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Get
                        started</a>
                    <a href="https://www.bitswired.com/en/blog/post/rustgpt-journey-rust-htmx-web-dev" target="_blank"
                        class="text-sm font-semibold leading-6 text-gray-900">Learn more <span
                            aria-hidden="true">→</span></a>
                </div>
            </div>
        </div>
        <div class="absolute inset-x-0 top-[calc(100%-13rem)] -z-10 transform-gpu overflow-hidden blur-3xl sm:top-[calc(100%-30rem)]"
            aria-hidden="true">
            <div class="relative left-[calc(50%+3rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 bg-gradient-to-tr from-[#ff80b5] to-[#9089fc] opacity-30 sm:left-[calc(50%+36rem)] sm:w-[72.1875rem]"
                style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)">
            </div>
        </div>
    </div>

    <div class="mx-auto mt-16 max-w-2xl sm:mt-20 lg:mt-24 lg:max-w-4xl">
        <dl class="grid max-w-xl grid-cols-1 gap-x-8 gap-y-10 lg:max-w-none lg:grid-cols-2 lg:gap-y-16">
            {{ macros::feature_card(title="Rust + Axum + SQLite", points=["Lightweight and fast", "Single process",
            "Efficient data
            handling"], icon_name="rust")}}
            {{ macros::feature_card(title="HTMX + Tera Templates", points=["Not a single line of JavaScript or
            WebAssembly
            written",
            "Just the HTMX JS library and full HTML", "No React, Vue, or other JS frameworks"],
            icon_name="code-diamond") }}
            {{ macros::feature_card(title="Tailwind", points=["Responsive design out of the box", "PurgeCSS for minimal
            CSS
            footprint",
            "Customizable theming"], icon_name="tailwind") }}
            {{ macros::feature_card(title="Justfile", points=["For commands", "Simplify build tasks", "Streamline
            development workflow"], icon_name="just")
            }}
        </dl>
    </div>
</div>