{% macro feature_card(title, points) %}
<div class="relative pl-16">
    <dt class="text-base font-semibold leading-7 text-gray-900">
        <div class="absolute left-0 top-0 flex h-10 w-10 items-center justify-center rounded-lg bg-indigo-600">
            <svg class="h-6 w-6 text-white" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round"
                    d="M12 16.5V9.75m0 0l3 3m-3-3l-3 3M6.75 19.5a4.5 4.5 0 01-1.41-8.775 5.25 5.25 0 0110.233-2.33 3 3 0 013.758 3.848A3.752 3.752 0 0118 19.5H6.75z" />
            </svg>
        </div>
        {{ title }}
    </dt>
    <dd class="mt-2 text-base leading-7 text-gray-600">
        {% for point in points %}
        <span>{{ point }}.</span>
        {% endfor %}
    </dd>
</div>
{% endmacro %}